<!DOCTYPE html>
<html>
<head>
	<title>Public Fund</title>
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="../static/css/public_fund.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- font -->
	<!-- <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'> -->
	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="../static/js/public_fund.js"></script>
</head>
<body>
	<div id="first-page-scroll">
		<div class="first-page-wrap">
			<div class="title">
				<h1>
					Welcome to Public Fund!
				</h1>
			</div>
			<div id="ytm-wrap">
				<div id="ytm-search">
					<div class="fund-name">
						<input class="search-input" id="fund-input" type="text" placeholder="ex). 삼성 베트남 펀드">
						<div class="fund-name-search"></div>
					</div>
				</div> 
			</div> 
			<ul class="fund-list-group" id="myList">
				<li class="list-group-item">samsung</li>
				<li class="list-group-item">hanhwa</li>
				<li class="list-group-item">lg</li>
				<li class="list-group-item">apple</li>
				<li class="list-group-item">삼성</li>
				<li class="list-group-item">한화</li>
				<li class="list-group-item">엘지</li>
				<li class="list-group-item">애플</li>
			</ul>  
		</div>
	</div> 
</div> 
<div id="wrap" class="wrap">
	<div class="fund-manager-current-info-wrap">
		<div class="current-info-box">
			<div class="fund-info-current">
				<p>
					삼성전자 베트남 펀드
				</p>
				<span class="fund-director">
					<b>책임 운용사 : </b>홍길동
				</span>
				<span class="fund-invested-date">
					<b>투자일 : </b>2019 / 11 / 22
				</span>
				<span class="today-date">
					<b>기준일 : </b>2020 / 01 / 07
				</span>
				<span class="fund-yield">
					<b>수익률 : </b>5%
				</span>
			</div>
		</div> 
	</div> 
	<div id="fund-records-info" class="fund-records-info">
		<div class="fund-manager-info-wrap">
			<div class="fund-manager-name">
				<span>
					홍길동 펀드 매니저 과거 Track Record
				</span>
				<a href="#">
					<img src="../static/img/plus-btn.png">
				</a>
			</div> 
		</div> 
		<div class="fund-track-records-wrap">
			<div class="fund-track-record">
				<div class="record-info">
					<div class="record-info-left">
						<p>투자 날짜 : </p>
						<p>회수 날짜 : </p>
						<p>달성 수익률 : </p>
						<p>투자 국가 : </p>
						<p>투자 전략 설명 : </p>
					</div> 
					<div class="record-info-right">
						<p class="invested-date">2019/11/22</p>
						<p class="">2019/12/31</p>
						<p>3%</p>
						<p>베트남</p>
						<p>lorem ipsum</p>
					</div> 
				</div> 
			</div> 
			<div class="fund-track-record">
				<div class="record-info">
					<div class="record-info-left">
						<p>투자 날짜 : </p>
						<p>회수 날짜 : </p>
						<p>달성 수익률 : </p>
						<p>투자 국가 : </p>
						<p>투자 전략 설명 : </p>
					</div> 
					<div class="record-info-right">
						<p>2019/11/22</p>
						<p>2019/12/31</p>
						<p>3%</p>
						<p>베트남</p>
						<p>lorem ipsum</p>
					</div> 
				</div> 
			</div> 
			<div class="fund-track-record">
				<div class="record-info">
					<div class="record-info-left">
						<p>투자 날짜 : </p>
						<p>회수 날짜 : </p>
						<p>달성 수익률 : </p>
						<p>투자 국가 : </p>
						<p>투자 전략 설명 : </p>
					</div> 
					<div class="record-info-right">
						<p>2019/11/22</p>
						<p>2019/12/31</p>
						<p>3%</p>
						<p>베트남</p>
						<p>lorem ipsum</p>
					</div> 
				</div> 
			</div> 
			<div class="fund-track-record">
				<div class="record-info">
					<div class="record-info-left">
						<p>투자 날짜 : </p>
						<p>회수 날짜 : </p>
						<p>달성 수익률 : </p>
						<p>투자 국가 : </p>
						<p>투자 전략 설명 : </p>
					</div> 
					<div class="record-info-right">
						<p>2019/11/22</p>
						<p>2019/12/31</p>
						<p>3%</p>
						<p>베트남</p>
						<p>lorem ipsum</p>
					</div> 
				</div> 
			</div> 
		</div> 
	</div> 
</div>
</body>
</html>




















