<!DOCTYPE html>
<html>
<head>
	<title>Public Fund</title>
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="../static/css/public_fund.css">
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/public_fund.css') }}"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- font -->
	<!-- <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'> -->
	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="../static/js/public_fund.js"></script>
</head>
<body>
	<div id="first-page-scroll">
		<div class="first-page-wrap">
			<div class="title">
				<h1>
					Welcome to Public Fund!
				</h1>
			</div>
			<div id="ytm-wrap">
				<div id="ytm-search">
					<div class="fund-name">
						<input class="search-input" id="fund-input" type="text" placeholder="ex). 삼성 베트남 펀드">
						<div class="fund-name-search"></div>
					</div>
				</div> 
			</div> 
			<ul class="fund-list-group"></ul>  
		</div>
	</div> 
	<div id="wrap" class="wrap">
		<div class="fund-manager-current-info-wrap">
			<div class="current-info-box">
				<div class="fund-info-current"></div>
			</div> 
		</div> 
		<div id="fund-records-info" class="fund-records-info">
			<div class="fund-manager-info-wrap">
				<div class="fund-manager-name">
					<span></span>
				</div> 
			</div> 
			<div class="fund-track-records-wrap"></div> 
		</div> 
	</div>
</body>
</html>