<!DOCTYPE html>
<html>
<head>
	<title>Public Fund</title>
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="../static/css/public_fund.css">
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/public_fund.css') }}"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- font -->
	<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="../static/js/public_fund.js"></script>

	<script>
		
		function setfund(li) {
			let fund_name = $(li).text();
			
			// 인풋박스에 펀드이름 채우기
			$("#fund-input").val(fund_name);
			
			// 클릭한 펀드의 정보 채우기
			let this_fund_info;
			for (let i = 0 ; i < all_fund_info.length; i++) {
				if (all_fund_info[i]['fund_name'] == fund_name) {
					this_fund_info = all_fund_info[i];
				}
			}

			let company_name = this_fund_info["company_name"];
			let manager_name = this_fund_info["manager_name"];
			let fund_name_input = this_fund_info["fund_name"];
			let start_date = this_fund_info["start_date"];
			let end_date = this_fund_info["end_date"];
			let fund_yield = this_fund_info["fund_yield"];

			let fund_manager_current_info_wrap = '<div class="current-info-box">\
													<div class="fund-info-current">\
														<p>\
														'+fund_name_input+'\
														</p>\
														<span class="fund-director">\
															<b>책임 운용사 : </b>'+manager_name+'\
														</span>\
														<span class="fund-invested-date">\
															<b>투자일 : </b>'+start_date+'\
														</span>\
														<span class="today-date">\
															<b>기준일 : </b>'+end_date+'\
														</span>\
														<span class="fund-yield">\
															<b>수익률 : </b>'+fund_yield+'\
														</span>\
													</div>\
												</div>'

			$(".fund-manager-current-info-wrap").html(fund_manager_current_info_wrap);
			$(".fund-manager-name > span").text(manager_name + " 펀드 매니저 과거 Track Record");


			$.ajax({
				type: "POST",
				url: "/fund",
				data: {fund_name_give:fund_name},
				success: function(response){
					$(".fund-track-records-wrap").empty();
					for(let i = 0; i < 4; i++){
						let company_name = response[i]["company_name"];
						let manager_name = response[i]["manager_name"];
						let fund_name_db = response[i]["fund_name"];
						let start_date = response[i]["start_date"];
						let end_date = response[i]["end_date"];
						let fund_yield = response[i]["fund_yield"];

						let fund_track_record = '<div class="fund-track-record">\
													<div class="record-info">\
														<ul>\
															<li class="fund-name-padding-bottom"><b>펀드 이름 :</b> ' +fund_name_db+'</li>\
															<li><b>투자 날짜 :</b> ' +start_date+'</li>\
															<li><b>회수 날짜 :</b> ' +end_date+'</li>\
															<li><b>달성 수익률 :</b> ' +fund_yield+'</li>\
														</ul>\
													</div>\
												</div>'
						$(".fund-track-records-wrap").append(fund_track_record);
					}
					
				}
			});
		}


	</script>
</head>
<body>
	<div id="first-page-scroll">
		<div class="first-page-wrap">
			<div class="title">
				<h1>
					Welcome to Public Fund!
				</h1>
			</div>
			<div id="ytm-wrap">
				<div id="ytm-search">
					<div class="fund-name">
						<input class="search-input" id="fund-input" type="text" placeholder="ex). 교보악사Tomorrow장기국공채증권자투자신탁[채권]">
						<div class="fund-name-search"></div>
					</div>
				</div> 
			</div> 
			<ul class="fund-list-group"></ul>  
		</div>
	</div> 
	<div id="wrap" class="wrap">
		<div class="fund-manager-current-info-wrap">
			<div class="current-info-box">
				<div class="fund-info-current"></div>
			</div> 
		</div> 
		<div id="fund-records-info" class="fund-records-info">
			<div class="fund-manager-info-wrap">
				<div class="fund-manager-name">
					<span></span>
				</div> 
			</div> 
			<div class="fund-track-records-wrap"></div> 
		</div> 
		<div id="advertising-banner-wrap">
			<div class="banner">
				advertising-banner-wrap
			</div>
		</div>
	</div>
</body>
</html>